<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" class="form-control" id="email" name="email" ngModel>
      </div>

      <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" id="password" name="password" ngModel>
      </div>
      <button type="submit" class="btn btn-primary">
        Sign Up
      </button>
    </form>
  </div>
</div>

